/*Para realizar a estilização de páginas, podemos utilizar o css.
Cascading Style Sheets, ou CSS, indica, ao traduzir, que será feita a leitura em cascata. Isso significa que a última estilização de um determinado elemento é a que irá prevalecer.


Existem 3 formas de aplicar o css em um documento html

- Internal: Colocando o código css dentro de uma tag style no head d arquivo HTML;
- Inline: Passando o atributo style dentro do elemento html que se deseja estilizar;
- External: Criando um arquivo styles.css externo e realizando o link entre o arquivo html e o arquivo css;*/
/*Por questões de boas práticas, buscamos adotar a terceira forma.*/
/*Dadas as três formas, existe uma ordem de prioridade em relação à estilização
Caso exista mais de uma estilização para um determinado elemento, a estilização que será priorizada é a Inline. Após esta, será priorizada a última estilização declarada dentro do head, seja ela Internal(dentro da tag style) ou external(conecataa através da tag link). E em último lugar será aplicada a estilização do navegador*/

/*Para definir uma estilização padrão, se usa o seletor * que representa o seletor universal, o que significa que a estilização dentro de {} será aplicada para todos os elementos da página*/
*{
    color: bisque;    
}

/*Para estilizar todos os elementos de um mesmo tipo, se usa o seletor com o nome do tipo do elemento. Por exemplo, se usarmos p{}, a estilização dentro de {} será aplicada para todos os elementos p da página*/
body{
    color: bisque;
}

/*Para estilizar todos os elementos de uma mesma classe, se usa o seletor "." antes do nome da classe. Por exemplo, se usarmos .menu{}, a estilização dentro de {} será aplicada para todos os elementos com a classe menu da página*/
.class{
    color: rgb(182, 61, 25);
}

/*Para estilizar um elemento específico da página, se usa o seletor "#" antes do nome de id do elemento. Por exemplo, se usarmos #banana, a estilização dentro de {} será aplicada para o elemento com id banana*/
#id{
    color: rgb(185, 5, 161);
}

/*Se houver alguma estilização em comum a vários elementos, podemos reescrever o código acima da seguinte forma*/
body, .class, #id{
    color: rgb(47, 187, 29);
}

/*É possível ainda realizar estilizações com um direcionamento específico*/
/*A estilização abaixo irá ser aplicada a todos os elementos a dentro de um elemento li que esteja dentro de uma lista ul. Esta prática pode ser aplicada em projetos menores onde não seja necessária a aplicação de classes. Contudo, a mesma estilização poderia ser feita através do uso de classes, por exemplo ul-li-a(de forma mais simplória) ou anchors-ul-items, para indicar de qual tipo de elemento a classe se refere.*/
ul li a{
    cursor: pointer;
}
/*Cores: Podemos definir o valor da cor desejada de várias formas, utilizando o código rgb, o código rgba, o código hexadecimal, o código hsl e o código hsla. Existem diversas propriedades responsáveis pela estilização de cores. As mais comuns são*/
p{
    /*Define a cor do texto (ou em alguns casos do conteúdo do elemento)*/
    color: aliceblue;
    /*Define a cor da borda do elemento, quando esta existir*/
    border-color: brown;
    /*Define a cor de fundo do elemento*/
    background-color: aquamarine;
    /*Define a cor da decoração do texto, quando esta existir*/
    text-decoration-color: yellowgreen;
}
/**/
/*Background: Podemos estilizar o background de um elemento através de seis propriedades.*/
p{
    /*Define a cor de fundo do elemento*/
    background-color: aquamarine;
    /*Define imagem de fundo do elemento*/
    background-image: url();
    /*Define como será a repetição da imagem de fundo*/
    background-repeat: no-repeat;
    /*Define se a imagem de fundo irá acompanhar o scroll da página ou se será fixada*/
    background-attachment: fixed;
    /*Define a posição da imagem de fundo*/
    background-position: center;
    /*Uma definição que agrupa as anteriores na seguinte ordem ->color->image->repeat->attachment->position. Não é necessário utilizar todas as anteriores */
    background: aquamarine url() no-repeat fixed center;
}