/*Para realizar a estilização de páginas, podemos utilizar o css.
Cascading Style Sheets, ou CSS, indica, ao traduzir, que será feita a leitura em cascata. Isso significa que a última estilização de um determinado elemento é a que irá prevalecer.


Existem 3 formas de aplicar o css em um documento html

- Internal: Colocando o código css dentro de uma tag style no head d arquivo HTML;
- Inline: Passando o atributo style dentro do elemento html que se deseja estilizar;
- External: Criando um arquivo styles.css externo e realizando o link entre o arquivo html e o arquivo css;*/
/*Por questões de boas práticas, buscamos adotar a terceira forma.*/
/*Dadas as três formas, existe uma ordem de prioridade em relação à estilização
Caso exista mais de uma estilização para um determinado elemento, a estilização que será priorizada é a Inline. Após esta, será priorizada a última estilização declarada dentro do head, seja ela Internal(dentro da tag style) ou external(conecataa através da tag link). E em último lugar será aplicada a estilização do navegador*/

/*!important: é usado para adicionar mais importancia a uma propriedade/valor do que o normal.*/

/*Para definir uma estilização padrão, se usa o seletor * que representa o seletor universal, o que significa que a estilização dentro de {} será aplicada para todos os elementos da página*/
*{
    color: bisque;    
}

/*Para estilizar todos os elementos de um mesmo tipo, se usa o seletor com o nome do tipo do elemento. Por exemplo, se usarmos p{}, a estilização dentro de {} será aplicada para todos os elementos p da página*/
body{
    color: bisque;
}

/*Para estilizar todos os elementos de uma mesma classe, se usa o seletor "." antes do nome da classe. Por exemplo, se usarmos .menu{}, a estilização dentro de {} será aplicada para todos os elementos com a classe menu da página*/
.class{
    color: rgb(182, 61, 25);
}

/*Para estilizar um elemento específico da página, se usa o seletor "#" antes do nome de id do elemento. Por exemplo, se usarmos #banana, a estilização dentro de {} será aplicada para o elemento com id banana*/
#id{
    color: rgb(185, 5, 161);
}

/*No CSS, existem algumas pseudo-classes que representam um estado especial do elemento*/
seletor:pseudo-classe{
    /* As  pseudo-classes são indicadas por ":"*/
    color: #3399ff;
}

/*No CSS, existem alguns pseudo-elementos que representam uma parte específica de um elemento ou a inserção de um novo elemento*/
seletor::pseudo-elemento{
    /* As  pseudo-classes são indicadas por "::"*/
    color: #3399ff;
}

/*Se houver alguma estilização em comum a vários elementos, podemos reescrever o código acima da seguinte forma*/
body, .class, #id{
    color: rgb(47, 187, 29);
}

/*É possível ainda realizar estilizações com um direcionamento específico*/
/*A estilização abaixo irá ser aplicada a todos os elementos a dentro de um elemento li que esteja dentro de uma lista ul. Esta prática pode ser aplicada em projetos menores onde não seja necessária a aplicação de classes. Contudo, a mesma estilização poderia ser feita através do uso de classes, por exemplo ul-li-a(de forma mais simplória) ou anchors-ul-items, para indicar de qual tipo de elemento a classe se refere.*/
ul li a{
    cursor: pointer;
}
/*Cores: Podemos definir o valor da cor desejada de várias formas, utilizando o código rgb, o código rgba, o código hexadecimal, o código hsl e o código hsla. Existem diversas propriedades responsáveis pela estilização de cores. As mais comuns são*/
p{
    /*Define a cor do texto (ou em alguns casos do conteúdo do elemento)*/
    color: aliceblue;
    /*Define a cor da borda do elemento, quando esta existir*/
    border-color: brown;
    /*Define a cor de fundo do elemento*/
    background-color: aquamarine;
    /*Define a cor da decoração do texto, quando esta existir*/
    text-decoration-color: yellowgreen;
}
/*Background: Podemos estilizar o background de um elemento através de seis propriedades.*/
p{
    /*Define a cor de fundo do elemento*/
    background-color: aquamarine;
    /*Define imagem de fundo do elemento*/
    background-image: url();
    /*Define como será a repetição da imagem de fundo*/
    background-repeat: no-repeat;
    /*Define se a imagem de fundo irá acompanhar o scroll da página ou se será fixada*/
    background-attachment: fixed;
    /*Define a posição da imagem de fundo*/
    background-position: center;
    /*Uma definição que agrupa as anteriores na seguinte ordem ->color->image->repeat->attachment->position. Não é necessário utilizar todas as anteriores */
    background: aquamarine url() no-repeat fixed center;
}
/*Border: Podemos definir a borda de um elemento das seguintes formas*/
div{
    /*Define a largura da borda*/
    border-width: 2px;
    /*Define o estilo da borda */
    border-style: dotted;
    /*Define a cor da borda */
    border-color: yellowgreen;
    /*Uma definição que agrupa as anteriores é a border, onde o style é obrigatório*/
    border: 5px solid green;
    /*Define o aredondamento da borda*/
    border-radius: 5px;
}
/*Margin: usada para criar um espaço ao redor dos elementos, fora de qualquer borda definida*/
p {
    /*Define margem superior*/
    margin-top: 25px;
    /*Define a margem à direita*/
    margin-right: 50px;
    /*Define a margem inferior*/
    margin-bottom: 75px;
    /*Define a margem à esquerda*/
    margin-left: 100px;
    /*Define a margem em uma só propriedade, na ordem top->right->bottom->left*/
    margin: 25px 50px 75px 100px;
    /*Define a margem em uma só propriedade, na ordem vertical->horizontal*/
    margin: 25px 50px /*se usarmos o valor auto irá centralizar horizontalmente o elemento*/;
  }
/*Padding: usada para criar um espaço ao redor dos elementos, dentro de qualquer borda definida*/
p {
    /*Define um preenchimento superior*/
    padding-top: 25px;
    /*Define um preenchimento à direita*/
    padding-right: 50px;
    /*Define um preenchimento inferior*/
    padding-bottom: 75px;
    /*Define um preenchimento à esquerda*/
    padding-left: 100px;
    /*Define um preenchimento em uma só propriedade, na ordem top->right->bottom->left*/
    padding: 25px 50px 75px 100px;
    /*Define um preenchimento em uma só propriedade, na ordem vertical->horizontal*/
    padding: 25px 50px ;
  }
/*Height e Width: usadas para definir a altura e a largura do elemento, respectivamente*/
div {
    height: 100px;
    width: 500px;
    /*Define a largura máxima que o elemento pode alcançar*/
    max-width: max-content;
  }
/*Outline: usado para desenhar uma linha ao redor dos elementos, fora das bordas, para destacar os elementos. Não é considerado parte do elemento, podendo sobrepor outros elementos*/
div{
    /*Define o estilo da linha externa */
    outline-style: dotted;
    /*Define a largura da linha externa*/
    outline-width: thin;
    /*Define a cor da linha externa */
    outline-color: antiquewhite;
    /*Uma definição que agrupa as anteriores é a outline, onde o style é obrigatório*/
    outline: double thick crimson;
    /*Adiciona um espaço entre uma linha externa e a borda de um elemento.*/
    outline-offset: unset;
}
/*Texts: existem algumas propriedades para formatar textos*/
p{
    /*Define a cor do texto*/
    color: white;
    /*Define o alinhamento do texto*/
    text-align: center;
    /*Define uma linha de decoração para o texto*/
    text-decoration: wavy;
    /*Define se as letras serão minúsculas, maiúsculas ou se todas as palavras terão apenas a primeira letra em maiúsculo*/
    text-transform: capitalize;
    /*Define o espaçamento entre as letras*/
    letter-spacing: 2px;
    /*Define o espaçamento entre as linhas*/
    line-height: 2px;
    /*Define o sombreamento do texto*/
    text-shadow: 2px 2px;
}
/*Fonts: existem algumas propriedades para formatas as fonts dos texto*/
p{
    /*Define a família da fonte a ser utilizada*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*Define o tamanho da fonte*/
    font-size: medium;
    /*Define o peso da fonte*/
    font-weight: lighter;
    font-style: italic;
    /*Podemos agrupar as definições através da propriedade font, onde size e family são obrigatórios*/
    font: italic small-caps bold 12px/30px Georgia, serif;
}
/*Links: podemos estilizar os links do site de um modo geral, usando o seletor a. Ou de acordo com o estado do link*/
a{
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: turquoise;
}
/* link não acessado */
a:link {
    color: red;
  }
  
  /* link acessado */
  a:visited {
    color: green;
  }
  
  /* mouse sobre o link */
  a:hover {
    color: hotpink;
  }
  
  /* link selecionado */
  a:active {
    color: blue;
  }
/*Lists: podemos estilizar os marcados das listas ordenadas e não ordenadas, assim como configurar uma imagem para ser o marcador, configurar uma cor de fundo ou mesmo o posicionamento dos marcadores*/
ul.a {
    /*Define o estilo do marcador*/
    list-style-type: circle;
    /*Define o posicionamento do marcador*/
    list-style-position: outside;
    /*Define a cor de fundo do elemento */
    background: #ffe5e5;
    /*Define a imagem do marcador*/
    list-style-image: url('sqpurple.gif');
}  
ol.c {
    /*Define o estilo do marcador*/
    list-style-type: upper-roman;
    /*Define o posicionamento do marcador*/
    list-style-position: inside;
    /*Define a cor de fundo do elemento */
    background: #3399ff;
}
ul {
    /*Define as propriedades em uma única linha */
    list-style: square inside url("sqpurple.gif");
}
/*Tables: podemos estilizar as tabelas utilizando as seguintes propriedades*/
table, th, td{
    /*Define a borda do elemento*/
    border: 1px solid;
}
table{
    /*Define a largura do elemento*/
    width: 100%;
}
th{
    /*Define a altura do elemento*/
    height: 70px;
}
td{
    /*Define o alinhamento horizontal do texto*/
    text-align: center;
    /*Define o alinhamento vertical do conteúdo*/
    vertical-align: bottom;
}
tr:hover{
    background-color: #ffe5e5;
}
/*Display: é a mais importante propriedade CSS para controlar o layout. É usado para especificar como umelemento é apresentado em uma página web. A maioria dos elementos tem como valor padrão de dusplay block ou inline.*/
/*Block: Um elemento em nível de bloco sempre começa em uma nova linha e ocupa a largura máxima disponível.*/
/*Inline: Um elemento inline não inicia uma nova linha e apenas ocupa a largura que for necessária.*/
div{
    /*Exibe um elemento como um elemento em linha*/
    display: inline;
    /*Exibe um elemento como um elemento em bloco*/
    display: block;
    /*Exibe um elemento como um container flexível em nível de bloco*/
    display: flex;
    /*Permite definir a largura e a altura do elemento*/
    display: inline-block;
    /*Exibe um elemento como um container malha em nível de bloco*/
    display: grid;
    /*Não exibe o elemento. Obs.: a propriedade visibility com valor hidden também não exibe o elemento, contudo esta faz com que o elemento ainda ocupe espaço no layout, dieferente do display:none que "remove" o elemento do site*/
    display: none;
    /*Retorna a propriedade para o valor padrão*/
    display: initial;
    /*Herda a propriedade do seu elemento pai*/
    display: inherit;
}
/*Position: especifica o tipo de método de posicionamento usado por um elemento (static, relative, fixed, absolute or sticky). Por padrão os elementos possuem position:static*/
div.static{
    /*Elementos estáticos não são afetados pelas propriedades top, bottom, left e right. Não são posicionados de forma especial, apenas seguem o fluxo da página*/
    position: static;
}
div.relative{
    /*O elemento passa a aceitar as propriedades Top, Bottom, Left, Right e Z-index. Com elas você pode alterar o posicionamento do elemento.*/
    position: relative;
}
div.fixed{
    /*Com o position fixed o elemento deixa de fazer parte do fluxo comum da página. Ele passa a se referenciar à janela do seu navegador, com isso permanece na tela indepente da rolagem da página*/
    position: fixed;
}
div.absolute{
    /*Com o position Absolute você pode posicionar qualquer elemento de acordo com o elemento pai que tenha um position diferente de static*/
    position: absolute;
}
div.sticky{
    /*É uma mistura de position: relative e position: fixed. Ele age posicionado relativamente até determinado ponto de rolagem. Então, ele age como um elemento com position: fixed*/
    position: sticky;
}
/*Z-Index: especifica a ordem de fila de um elemento (qual elemento deve ser posicionado à frente ou atrás de outros)*/
.black-box {
    position: relative;
    z-index: 1;
    border: 2px solid black;
    height: 100px;
    margin: 30px;
}

.gray-box {
    position: absolute;
    z-index: 3;
    background: lightgray;
    height: 60px;
    width: 70%;
    left: 50px;
    top: 50px;
}
/*Overflow: especifica se deve recortar o conteúdo ou adicionar uma barra de rolagem quando o conteúdo de um elemento for grande demais para caber em determinada área*/
div{
    /*Padrão. O transbordo não é cortado. O conteúdo renderiza fora da caixa do elemento*/
    overflow: visible;
    /*O transbordo é cortado e o resto do conteúdo ficará invisível*/
    overflow: hidden;
    /*O transbordo é cortado e uma barra de rolagem é adicionada para ver o restante do conteúdo*/
    overflow: scroll;
    /*Similar ao scroll, mas adiciona a barra de rolagem apenas quando necessário*/
    overflow: auto;
}
/*Float: é usado para posicionar e formatar o conteúdo, por exemplo, deixar uma imagem flutuar à esquerda ou à direita do texto em um container.*/
img {
    float: right;
    float: left;
    float: none;
}
/*Clear: quando usamos a propriedade float em um elemento e queremos posicionar um outro elemento abaixo, usamos a propriedade clear no elemento seguinte, compatível com o valor da propriedade float anterior*/
div{
    clear: right;
    clear: left;
    clear: none;
}
/*Alinhamento de elementos*/
/* Para elementos block, use o margin:auto */
div {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
/* Para alinhar apenas o texto interior do elemento, use o text-align */
div {
    text-align: center;
    border: 3px solid green;
}
/* Para centralizar uma imagem, transforme em um elemento block e use o margin:auto */
img {
    display: block;
    margin: 0 auto;
    width: 40%;
}
/* Para alinhar usando o position */
img {
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
}
/* Para alinhar usando o float */
img {
    float: right;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
}

/*Opacity: especifica a opacidade/transparência de um elemento*/
img {
    opacity: 0.5;
}

/*Units: o CSS tem diversas unidades para expressar tamanho. Os valores são representados por um número e sua unidade. Por exemplo, 15px*/
/* Existem dois tipos de unidades de medida: absolutas e relativas */
/* Unidades absolutas são fixas e expressam a medida exata. Geralmente não são recomendadas para usar em telas, pois estas possuem diversos formatos e tamanhos. A unidade absoluta mais comum é a px(pixels) */
/* Unidades relativas são variáveis de acordo com outra propriedade de tamanho. São melhor escaláveis do que as unidades absolutas. As unidades relativas mais comuns são:
    - em: relativa ao tamanho da fonte do elemento pai;
    - rem: relativa ao tamanho da fonte do elemento raiz(tag HTML);
    - vw: relativa a 1% da largura da janela do navegador;
    - vh: relativa a 1% da altura da janela do navegador;
    - %: relativa ao elemento pai; */

/**/
/**/
/**/
/**/